# AirBnB NY Locations Data Case Study

In this final project, you task will be to take the data provided and find evidance to answer the following questions.

1. Which hosts are the busiest and why?
2. How many neighborhood groups are available and which shows up the most?
3. Are private rooms the most popular in manhattan?
4. Which hosts are the busiest and based on their reviews?
5. Which neighorhood group has the highest average price?
6. Which neighborhood group has the highest total price?
7. Which top 5 hosts have the highest total price?
8. Who currently has no (zero) availability with a review count of 100 or more?
9. What host has the highest total of prices and where are they located?
10. When did Danielle from Queens last receive a review?

You will be given **4 hours** to complete this assignment. 
**Be Advised** I will go dark for this intire assignment time period. That said, any questions that you would like to ask about the data, or the project **MUST** be asked before the time starts. Once the time has started, I can no longer give information.

This is to similate what you will face when you are out in the wild. 

Happy Coding!

In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [140]:
air_bnb = pd.read_csv('../airbnb/AB_NYC_2019.csv')
air_bnb.head(5)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [50]:
# How many neighborhood groups are available and which shows up the most?
print("These many neighborhoods groups are available: ", len(air_bnb['neighbourhood_group'].value_counts(ascending = False)))
print("\nHere is the list: ", air_bnb['neighbourhood_group'].value_counts(ascending = False))

These many neighborhoods groups are available:  5

Here is the list:  Manhattan        21661
Brooklyn         20104
Queens            5666
Bronx             1091
Staten Island      373
Name: neighbourhood_group, dtype: int64

In [56]:
# Are private rooms the most popular in manhattan?
df1 = air_bnb[air_bnb.neighbourhood_group == 'Manhattan']

df1[['room_type','neighbourhood_group']].groupby('neighbourhood_group').value_counts()
values = df1[['room_type', 'neighbourhood_group']].groupby('neighbourhood_group').value_counts().to_numpy()
private_room = values[1]
max_count = max(values)

if max_count == private_room:
    print('Private rooms are the most popular in Manhattan.')
else: 
    print('Private rooms are not the most popular in Manhattan.')

Private rooms are not the most popular in Manhattan.

In [171]:
# Which hosts are the busiest and based on their reviews?

busiest_host_ids = air_bnb[['host_id','calculated_host_listings_count']].groupby('host_id').sum().sort_values('calculated_host_listings_count', ascending = False).index[:5]
for busiest_index in busiest_host_ids:
  print(air_bnb[air_bnb.host_id == busiest_index]['host_name'].to_numpy()[0])

Sonder (NYC)
Blueground
Kara
Kazuya
Jeremy & Laura

In [ ]:
# which hosts are the busiest and why

busiest_host_ids = air_bnb[['host_id','number_of_reviews']].groupby('host_id').sum().sort_values('number_of_reviews', ascending = False).index[:5]
for busiest_index in busiest_host_ids:
  print(air_bnb[air_bnb.host_id == busiest_index]['host_name'].to_numpy()[0])

In [68]:
#Which neighorhood group has the highest average price?

name = air_bnb[['neighbourhood_group','price']].groupby('neighbourhood_group').mean().sort_values('price', ascending = False).index[0]
print(name, 'has the highest average price.')

Manhattan has the highest average price.

In [72]:
# Which neighbor hood group has the highest total price?
name = air_bnb[['neighbourhood_group','price']].groupby('neighbourhood_group').sum().sort_values('price', ascending = False).index[0]
print(name, 'has the highest total price.')

Manhattan has the highest total price.

In [79]:
#Which top 5 hosts have the highest total price?

df2 = air_bnb[['host_id', 'price']]
top_five = df2.groupby('host_id').sum().sort_values('price', ascending = False).index[:5]

for value in top_five:
  print(air_bnb[air_bnb.host_id == value]['host_name'].to_numpy()[0])

Sonder (NYC)
Blueground
Sally
Red Awning
Kara

In [90]:
# Who currently has no (zero) availability with a review count of 100 or more?
df8 = air_bnb[['host_id' ,'number_of_reviews', 'availability_365']]
df8 = df8[df8.availability_365 == 0]

df8 = air_bnb[['host_id', 'number_of_reviews']]

df8 = df8.groupby('host_id').sum('number_of_reviews').sort_values('number_of_reviews', ascending = False)
df8 = df8[df8.number_of_reviews > 100].index[:5]

for value in df8:
  print(air_bnb[air_bnb.host_id == value]['host_name'].to_numpy()[0])

Maya
Brooklyn&   Breakfast    -Len-
Danielle
Yasu & Akiko
Brady

In [170]:
# What host has the highest total of prices and where are they located?

df9 = air_bnb[['host_id', 'price', 'neighbourhood']]
highest_total = df9.groupby(['host_id','neighbourhood']).sum('price').sort_values('price', ascending = False).index[:5]
print(highest_total)
for value in highest_total:
    value = value[0]
    print(air_bnb[air_bnb.host_id == value]['host_name'].to_numpy()[0])

MultiIndex([(219517861, 'Financial District'),
            (205031545,            'Midtown'),
            (  3750764,            'Chelsea'),
            (   836168,    'Upper West Side'),
            (  1177497,       'Clinton Hill')],
           names=['host_id', 'neighbourhood'])

In [116]:
# When did Danielle from Queens last receive a review?

df10 = air_bnb[['host_name', 'neighbourhood_group', 'last_review']]
df10 = df10[(df10.host_name == 'Danielle') & (df10.neighbourhood_group == 'Queens')].sort_values('last_review', ascending = False)
df10.head(1)

      host_name neighbourhood_group last_review
22469  Danielle              Queens  2019-07-08

## Further Questions

1. Which host has the most listings?

In [149]:
df11 = air_bnb[['host_id','host_name', 'calculated_host_listings_count']]
host_listing = df11.groupby('host_id').count().sort_values('calculated_host_listings_count', ascending = False).index[:1]

for value in host_listing:
    print(air_bnb[air_bnb.host_id == value]['host_name'].to_numpy()[0])

Sonder (NYC)

2. How many listings have completely open availability?

In [161]:
df12 = air_bnb[['availability_365']]
df12 = df12[(df12.availability_365 == 365)]
df12 = df12.count()
df12

availability_365    1295
dtype: int64

3. What room_types have the highest review numbers?

In [147]:
df13 = air_bnb[['room_type', 'number_of_reviews', 'reviews_per_month']]
df13 = df13.groupby('room_type').count().sort_values('number_of_reviews', ascending = False)
df13.head(1)

                 number_of_reviews  reviews_per_month
room_type
Entire home/apt              25409              20332

# Final Conclusion

In this cell, write your final conclusion for each of the questions asked.

Also, if you uncovered some more details that were not asked above, please discribe them here.

-- Add your conclusion --

In [ ]:
# Which hosts are the busiest and why
Sonder (NYC)
Blueground
Kara
Kazuya
Jeremy & Laura

These host are the busiest due to "Calculated_host_listing_count" column. This column to me meant this column is 
counting all the listings the host is having to do. Therefore, I used this column to see who the busist host are. 


# Which hosts are the busiest and based on their reviews?
Maya
Brooklyn&   Breakfast    -Len-
Danielle
Yasu & Akiko
Brady

# How many neighborhood groups are available and which shows up the most?
These many neighborhoods groups are available:  5

Here is the list:  
Manhattan        21661
Brooklyn         20104
Queens            5666
Bronx             1091
Staten Island      373

# Are private rooms the most popular in manhattan?
Private rooms are not the most popular in Manhattan.

# Which neighorhood group has the highest average price?
Manhattan has the highest average price.

# Which neighbor hood group has the highest total price?
Manhattan has the highest total price.

# Which top 5 hosts have the highest total price?
Sonder (NYC)
Blueground
Sally
Red Awning
Kara

# Who currently has no (zero) availability with a review count of 100 or more?
Maya
Brooklyn&   Breakfast    -Len-
Danielle
Yasu & Akiko
Brady

# What host has the highest total of prices and where are they located?
Sonder (NYC)   Financial District
Red Awning     Midtown
Kevin          Chelsea
Henry          Upper West Side
Jessica        Clinton Hill

# When did Danielle from Queens last receive a review?
2019-07-08